// bower:scss
// endbower

// colors
$textColor: #009cde;
$electricBlue: #487bde;

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

body.mobile{
  background: transparent url(/images/mobile/bg_1.gif) center 8% no-repeat;
  background-size: 100% auto;

  #app{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all 1s ease-in-out;
    &.loaded{
      //display: none;
      opacity: 1;
    }

    #home{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;
      transition: opacity .25s cubic-bezier(0, 0, .58, 1);
      &.out{
        z-index: 0;
        opacity: 0;
        .title{
          margin-top: 0%;
          transition: transform .25s cubic-bezier(0, 0, .58, 1);
          transform: translateY(-100%);
        }
        #start{
          margin-bottom: 0%;
          transform: translateY(100%);
          transition: transform .25s cubic-bezier(0, 0, .58, 1);
        }
      }
      .title{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -40.7%;
        margin-top: 5%;
        width: 81.4%;
        padding-bottom: 58.9%;
        height: 0;
        background: transparent url(/images/mobile/lettering_es.png) top center no-repeat;
        background-size: contain;
      }
      #start{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -27.65%;
        margin-bottom: 10%;
        width: 55.31%;
        height: 0;
        padding-bottom: 66.1%;
        background: transparent url(/images/mobile/start_es.png) top center no-repeat;
        background-size: contain;
      }
    }

    #tutorial{
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, .8);
      opacity: 0;
      transition: opacity .25s ease-in-out;
      &.in{
        opacity: 1;
        z-index: 10;
      }
      .tutorial-slide{
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .slide-item{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: all .25s ease-in-out;
          &.pending{ transform: translateX(100%);}
          &.active{ transform: translateX(0%);}
          &.watched{ transform: translateX(-100%);}
          .instructions{
            position: absolute;
            top: 10%;
            width: 100%;
            font-family: arial;
            color: #fff;
            font-size: 5vw;
            line-height: 1.5em;
            p{
              display: block;
              width: 90%;
              margin: 15px auto;
            }
          }
          .image{
            display: block;
            width: 54.37%;
            height: 0px;
            padding-bottom: 54.37%;
            margin: 0 auto;
            background-size: contain !important;
          }
          #tutorial-button{
            display: inline-block;
            width: 50%;
            height: 0;
            padding-bottom: 18.75%;
            background: transparent url(/images/mobile/bt_tutorial.png) 0 100% no-repeat;
            background-size: 100% auto;
            color: $textColor;
            &.active{
              background-position: 0 0;
            }
          }
          &#step-1 .image{
            background-image: url(/images/mobile/bullets_tutorial_0.gif);
          }
          &#step-2 .image{
            background-image: url(/images/mobile/bullets_tutorial_1.gif);
          }
          &#step-3 .image{
            background-image: url(/images/mobile/bullets_tutorial_2.gif);
          }
          &#step-4 .image{
            background-image: url(/images/mobile/bullets_tutorial_3.gif);
          }          
        }
      }
      .tutorial-slide-nav{
        position: absolute;
        left: 50%;
        bottom: 28px;
        width: 100%;
        z-index: 2;
        text-align: center;
        transform: translateX(-50%);
        display: inline-block;
        margin: 0;
        padding: 0;
        li{
          display: inline-block;
          margin: 0 5px;
          background: #fff;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          cursor: pointer;
          &:after{
            content: "";
            display: inline-block;
            background: $electricBlue;
            height: 11px;
            width: 11px;
            margin: 1px 0;
            border-radius: 50%;
            background: none;
            transition: all .125s;
          }
          &.active:after{
            background: $electricBlue;
          }
        }
      }
      .tutorial-slide-nav{
        bottom: 10px;
      }
    }

    #purposes{
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0;
      background: transparent url(/images/mobile/bg_2.jpg) top center;
      background-size: 100% auto;
      transition: all .15s linear;
      &.in{
        opacity: 1;
        z-index: 1;
        .action-button-wrapper{
          transform: none;
        }
      }
      .action-button-wrapper{
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 40%;
        box-sizing: border-box;
        padding-bottom: 2.5%;
        transform: translateY(100%);
        transition: transform .15s ease-in-out;
        .action-button{
          width: 100%;
          height: 0;
          padding-bottom: 123.26%;
          background-repeat: no-repeat;
          background-size: 100% auto;
          transition: transform .075s ease-in;
          &.active{
            transform: translateY(-5%) scale(1.125);
          }
        }
        &.accept-button{
          left: 55%;
          .action-button{
            background-image: url(/images/mobile/action_bt.png);
            background-position: 0 99.99%;
            &.active{
              background-position: 0 66.7%;
            }
          }
        }
        &.deny-button{
          right: 55%;
          .action-button{
            background-image: url(/images/mobile/action_bt.png);
            background-position: 0 33.34%;
            &.active,
            &:active{
              background-position: 0 0%;
            }
          }
        }
      }
      .action-button-spacer{
        position: absolute;
        bottom: 2%;
        left: 50%;
        margin-left: -2px;
        width: 0;
        height: 0;
        padding-bottom: 34%;
        border-right: dashed 4px #2c3386;
      }
      #purpose-action-controller{
        position: absolute;
        z-index: 8;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(white, .5);
      }
      #purpose-wrapper{
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
      }
      .purpose-item{
        position: absolute;
        z-index: 5;
        top: 50px;
        width: 86%;
        margin: 0 7%;
        opacity: 0;
        transition: all .25s ease-in;
        &.in{
          opacity: 1;
        }
        &.accept{
          transform: rotate(15deg) scale(0.8) translateX(100%);
          transition: 1s;
          cursor: e-resize;
          opacity: 0;
        }
        &.deny{
          transform: rotate(-15deg) scale(0.8) translateX(-100%);
          transition: 1s;
          cursor: e-resize;
          opacity: 0;
        }
      }
    }


    #topbar{
      position: absolute;
      z-index: 22;
      top: 0;
      left: 1.18%;
      width:97.65%;
      height: 45px; 
      margin-top: 0;
      background: #fff;
      box-sizing: border-box;
      border: solid 2px $textColor;
      transform: translateY(-100%);
      transition: transform .15s ease-in-out;

      &.in{
        transform: translateY(0%);
        margin-top: 5px;
      }

      .logo{
        display: inline-block;
        vertical-align: middle;
        height: 36px;
        width: 35px;
        margin: 3px 0 0 3px;
        background: transparent url(/images/mobile/menu_icon_reno.png) center no-repeat;
        background-size: contain;
      }
      .title{
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        color: $textColor; 
        margin-left: 0px;
      }
      #list-button{
        position: absolute;
        right: 10px;
        top: 5px;
        width: 30px;
        height: 30px;
        background: transparent url(/images/mobile/bt_ver_lista.png) center no-repeat;
        background-size: contain;

        .badge{
          position: absolute;
          top: -3px;
          right: -6px;
          display: inline-block;
          height: 16px;
          width: 16px;
          background: transparent url(/images/mobile/notification_cercle.png) center no-repeat;
          background-size: contain;
          font-size: 12px;
          line-height: 16px;
          color: #fff;
          text-align: center;
        }
      }
    }

    #list{
      position: absolute;
      z-index: 0;
      bottom: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(black, .8);
      opacity: 0;
      transition: all .25s ease-in-out;
      &.in{
        z-index: 20;
        opacity: 1;
        bottom: 0;
      }
      #finish-button{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 90%;
        height: 0;
        margin: 1% 5%;
        padding-bottom: 18.8%;
        background: transparent url(/images/mobile/bt_share_normal.png) top center no-repeat;
        background-size: contain;
      }
      #added-purposes{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 60px;
        padding-bottom: 28.125%;

        .purpose{
          position: relative;
          width: 90%;
          height: 0;
          margin: 1% 5%;
          padding-bottom: 18.8%;
          background: transparent url(/images/mobile/bt_share_normal.png) top center no-repeat;
          background-size: contain;
          transition: all .125s ease-in-out;
          &.removed{
            opacity: 0;
            transform: scale(0);
          }
          &.erased{
            padding-bottom: 0;
          }
          .index{
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
            height: 35px;
            width: 35px;
            text-align: center;
            color: white;
            font-size: 16px;
            line-height: 35px;
            background: transparent url(/images/mobile/ticks_icon.png) top center no-repeat;
            background-size: auto 100%;
          }
          .name{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: $textColor;
            font-size: 16px;
            text-align: center;
            width: 80%;
            margin-left: 20px;
          }
          .remove{
            position: absolute;
            display: inline-block;
            top: 8%;
            right: 3%;
            width: 22px;
            height: 22px;
            background: transparent url(/images/mobile/bt_close.png) top center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
